/* background and font for all pages */
body {
  background-image: url(file:///C:/Users/zinck/code/the-first-portfolio-hw/photos/pexels-vedanti-245250.jpg);

  font-family: "Khand", sans-serif;
}
/* main header row for all pages */
.header {
  border-bottom: 2px solid black;
}
/* main header text for all pages */
h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
}
/* main container for all pages */
.container {
  margin: 2.56% auto;
  background-color: rgb(138, 136, 136);
  border: 3px solid black;
}
/* this is for the about me page */
.col-3,
.col-9 {
  margin-block: 3.14%;
  font-size: 30px;
  font-stretch: 9%;
}
/*  this controls my projects page */

.rounded {
  width: 350px;
  height: 350px;
}
